@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    padding: 30px;
}

.logo-text {
    font-family: 'Playfair Display', serif;
}

.logo {
    margin-top: -20px;
}

/* This clears hover of element on element */
.clearfix {
    content: "";
    clear: both;
    display: table;
}

.landing-page {
    padding: 30px;
    width: 100%;
}

.side-bar {
    /* child items float to left of the container */
    float: left;
    width: 20%;
}



.nav-items {
    list-style: none;
    margin-left: -40px;
    color: #B2B1B9;
    font-family: 'Open Sans', sans-serif;
}

.nav-items-list {
    margin-bottom: 50px;
}

.nav-active {
    text-decoration: line-through #FF2626;
}

.cart-button {
    height: 42px;
    width: 100px;
    border-radius: 20px;
    border-width: 0px;
    font-size: 15px;
    background-color: #FF2626;
    color: #FDF6F0;
}

.content {
    float: left;
    width: 80%;
}

.text-content {
    width: 100%;
}

.heading {
    float: left;
    width: 40%;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}

.discription {
    float: right;
    color: #B2B1B9;
    font-family: 'Open Sans', sans-serif;
    width: 30%;
}

.hr-line {
    border: 0.1px solid #FF2626;
    width: 60px;
    float: left;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.card-item {
    height: 250px;
    width: 180px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 18px #B2B1B9;
    margin: 15px;
}

.item-image {
    vertical-align: middle;
    width: 130px;
    height: 130px;
    border-radius: 50%;

}

.item-name {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

/* Responsive layout not included in 600px above devices  */

.mobile-header {
    display: none;
}

.mobile-text-heading {
    display: none;
}

.mobile-card-container {
    display: none;
}

.mobile-discription {
    display: none;
}


/* responsive layout for mobile maximun width = 600px */
@media only screen and (max-width: 600px) {
    .mobile-header {
        display: block;
        padding: 40px;
    }

    .header-items {
        display: flex;
        justify-content: space-between;
    }

    .menu-icon {
        width: 20px;
        height: 4px;
        background-color: #FF2626;
        margin: 6px 0;
    }

    .logo-text-mobile {
        font-size: 30px;
    }

    .menu-icon-2 {
        width: 30px;
        height: 4px;
        background-color: #FF2626;

    }

    .shopping-cart-icon {
        font-size: 38px;
        color: #FF2626;
    }

    header {
        display: none;
    }

    .side-bar {
        display: none;
    }

    .text-content {
        display: none;
    }

    .landing-page{
        display: none;
    }
    .mobile-text-heading {
        display: block;
        font-size: 20px;
        font-family: 'Playfair Display', serif;
        width: 100%;
        padding:0px 20px 0px 20px;
    }

    .card-container {
        display: none;
    }

    .mobile-card-container {
        float: left;
        display: block;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .mobile-discription {
        display: block;
        float: left;
        color: #B2B1B9;
        font-family: 'Open Sans', sans-serif;
        width: 80%;
        padding: 40px;

    }

}